@font-face {
  font-family: 'digital-7';
  src: url('digital-7.ttf');
}


body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #EEB9AD;
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 60px; */
  /* width: 300px;
  height: 300px; */
}

/* .App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
} */

h1,h2,h3,h4,p {
  margin: 10px;
}
